@using WhiteNoise.Domain.Entities;
@model EstadoClinico

@{ ViewData["Title"] = "Cadastrar Estado Clínico"; }

<div>
    <h3>Cadastrar Estado Clínico</h3>

    <div>
        <form asp-controller="EstadoClinico" asp-action="Create">
            <label asp-for="Descricao"></label>
            <input asp-for="Descricao" />
            <div>
                <input type="submit" value="Cadastrar" class="btn" />
            </div>
        </form>
    </div>

    <div>
        <a class="btn" asp-controller="EstadoClinico" asp-action="Index">Voltar</a>
    </div>
</div>