@using WhiteNoise.Domain.Entities;
@model EstadoClinico

@{ ViewData["Title"] = "Deletar Estado Clínico"; }

<div>
    <h3>Deletar Estado Clínico</h3>

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Tem certeza desta ação?</h4>
        <p>Esta ação é irreversível e removerá permanentemente o registro selecionado.</p>
    </div>

    <div>
        <label asp-for="Descricao"></label>
        <input asp-for="Descricao" disabled class="form-control" />
    </div>

    <form asp-controller="EstadoClinico" asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <div>
            <input type="submit" value="Deletar" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-controller="EstadoClinico" asp-action="Index">Cancelar</a>
        </div>
    </form>
</div>
