@using WhiteNoise.Domain.Entities;
@model EstadoClinico

@{
    ViewData["Title"] = "Deletar Estado Clínico";
}

@Html.RenderPartialAsync("_Header");

<div class="panel">
    <h3>Deletar Estado Clínico</h3>

    <div>
        <input type="hidden" asp-for="Id" />

        <label asp-for="Descricao"></label>
        <input asp-for="Descricao" />
        <div>
            <input type="submit" value="Cadastrar" class="btn" />
        </div>
    </div>

    <form asp-controller="EstadoClinico" action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn" />
    </form>

    <div>
        <a class="btn" asp-controller="EstadoClinico" asp-action="Index">Voltar</a>
    </div>
</div>

@Html.RenderPartialAsync("_Footer");
