@using WhiteNoise.Domain.Entities;
@model EstadoClinico

@{
    ViewData["Title"] = "Editar Estado Clínico";
}

@Html.RenderPartialAsync("_Header");

<div class="panel">
    <h3>Editar Estado Clínico</h3>

    <div>            
        <input type="hidden" asp-for="Id"/> 

        <label asp-for="Descricao"></label>
        <input asp-for="Descricao" />
        <div>
            <input type="submit" value="Cadastrar" class="btn" />
        </div>
    </div>

    <div>
        <a class="btn" asp-controller="EstadoClinico" asp-action="Index">Voltar</a>
    </div>
</div>

@Html.RenderPartialAsync("_Footer");
