@using WhiteNoise.Domain.Entities;
@model EstadoClinico

@{ ViewData["Title"] = "Editar Estado Clínico"; }

<div>
    <h3>Editar Estado Clínico</h3>

    <form asp-action="Edit" asp-controller="EstadoClinico" asp-route-id="@Model.Id" method="post" autocomplete="off">
        <input type="hidden" name="_method" value="PUT" />

        <div>
            <label asp-for="Descricao"></label>
            <input asp-for="Descricao" class="form-control" />
        </div>

        <div>
            <input type="submit" value="Confirmar" class="btn btn-success" />
            <a class="btn btn-secondary" asp-controller="EstadoClinico" asp-action="Index">Cancelar</a>
        </div>
    </form>
</div>
