@using WhiteNoise.Domain.Entities;

@model IEnumerable<WhiteNoise.Domain.Entities.EstadoClinico>

@{ ViewData["Title"] = "Listagem de Estado Clínico"; }

<div>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold mb-0">@ViewData["Title"]</h2>
        <a class="btn btn-lg btn-primary rounded-pill shadow-sm"
           asp-controller="EstadoClinico" asp-action="Create">
            <i class="bi bi-plus-lg me-2"></i>Adicionar Novo
        </a>
    </div>
    
    <div class="row col-12 d-flex justify-content-between">
        <vc:estado-clinico estado="Estável"></vc:estado-clinico>
        <vc:estado-clinico estado="Observação"></vc:estado-clinico>
        <vc:estado-clinico estado="Grave"></vc:estado-clinico>
        <vc:estado-clinico estado="Crítico"></vc:estado-clinico>
    </div>

    <table-grid controller="EstadoClinico" items="@Model"></table-grid>
</div>