@using WhiteNoise.Domain.Entities
@using WhiteNoise.Domain.Enums
@model WhiteNoise.Models.Departamento.DepartamentoFormModel

@{
    ViewData["Title"] = "Cadastrar Departamento";
}

<div>
    <h2>Novo Departamento</h2>
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row col-12">
            <div class="form-group col-6">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>