@model WhiteNoise.Models.Departamento.DepartamentoFormModel

<div>
    <h2>Detalhes do Departamento</h2>
    <div>
        <dl class="row">
            <dt class="col-sm-2">Descrição</dt>
            <dd class="col-sm-10">@Model.Descricao</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</div>