@model WhiteNoise.Models.Prontuario.ProntuarioGridModel

<div>
    <h2>Detalhes do Prontuario</h2>
    <div>
        <dl class="row">
            <dt class="col-sm-2">Observacao</dt>
            <dd class="col-sm-10">@Model.Observacao</dd>

            <dt class="col-sm-2">Paciente</dt>
            <dd class="col-sm-10">@Model.Paciente</dd>

            <dt class="col-sm-2">Data de Criação</dt>
            <dd class="col-sm-10">@Model.DataCriacao.ToString("dd/MM/yyyy")</dd>
            <dt class="col-sm-2">Data Internação</dt>
        </dl>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</div>