@using WhiteNoise.Models.Prontuario

@model IEnumerable<ProntuarioGridModel>

@{
    ViewData["Title"] = "Listagem de Prontuários";
}

<div>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold mb-0">@ViewData["Title"]</h2>
        <a class="btn btn-lg btn-info rounded-pill shadow-sm"
           asp-controller="Prontuario" asp-action="Create">
            <i class="bi bi-plus-lg me-2"></i>Adicionar Novo
        </a>
    </div>

    <table-grid controller="Prontuario" allow-sorting="true" items="@Model"></table-grid>
</div>