@using WhiteNoise.Models.Paciente

@model IEnumerable<Paciente>

@{
    ViewData["Title"] = "Listagem de Pacientes";
}

<div>
    <div>        
        <a class="nav-link text-dark" asp-controller="Paciente" asp-action="ConsultarPaciente">Consultar</a>
        <a class="nav-link text-dark" asp-controller="Paciente" asp-action="CadastrarPaciente">Cadastrar</a>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cpf</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nome</td>
                        <td>@item.Cpf</td>
                        <td>
                            <a class="btn btn-dark" asp-route-id="@item.Nome"
                               asp-controller="Paciente"
                               asp-action="ConsultarPaciente"
                               title="Detalhes">Detalhes</a>
                            <a class="btn btn-info" href="javascript:void();" title="Editar Paciente">Editar</a>
                            <a class="btn btn-danger" href="javascript:void();" title="Excluir Paciente">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>