@using WhiteNoise.Models.Internacao
@model InternacaoGridModel

@{
    ViewData["Title"] = "Deletar Internacao";
}

<div>
    <h3>Deletar Internacao</h3>

    <div>
        <label asp-for="DataEntrada"></label>
        <input asp-for="DataEntrada" disabled class="form-control" />
    </div>

    <div>
        <label asp-for="DataAlta"></label>
        <input asp-for="DataAlta" disabled class="form-control" />
    </div>

    <div>
        <label asp-for="Motivo"></label>
        <input asp-for="Motivo" disabled class="form-control" />
    </div>

    <div>
        <label asp-for="Paciente"></label>
        <input asp-for="Paciente" disabled class="form-control" />
    </div>

    <div>
        <label asp-for="Leito"></label>
        <input asp-for="Leito" disabled class="form-control" />
    </div>

    <form asp-controller="Internacao" asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <div>
            <input type="submit" value="Deletar" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-controller="Internacao" asp-action="Index">Cancelar</a>
        </div>
    </form>
</div>
