@using WhiteNoise.Domain.Entities
@using WhiteNoise.Domain.Enums
@model WhiteNoise.Models.Agendamento.AgendamentoFormModel

@{
    ViewData["Title"] = "Cadastrar Agendamento";
}

<div>
    <h2>Novo Agendamento</h2>
    <form asp-action="Create" method="post" autocomplete="off">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row col-12">
            <div class="form-group col-6">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-12">
            <div class="form-group col-6">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<TipoAgendamentoEnum>()"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-12">
            <div class="form-group col-6">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusAgendamentoEnum>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-12">
            <div class="form-group col-6">
                <label asp-for="PacienteId"></label>
                <select asp-for="PacienteId" class="form-control" asp-items="Model.Pacientes">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-12">
            <div class="form-group col-6">
                <label asp-for="ProfissionalId"></label>
                <select asp-for="ProfissionalId" class="form-control" asp-items="Model.Profissionais">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="ProfissionalId" class="text-danger"></span>
            </div>
        </div>

        <div class="row col-12">
            <div class="form-group col-6">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>