@using WhiteNoise.Models.Leito
@using WhiteNoise.Domain.Enums


@model IEnumerable<LeitoGridModel>

@{
    ViewData["Title"] = "Listagem de Leitos";
}

<div>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold mb-0">@ViewData["Title"]</h2>
        <a class="btn btn-lg btn-info rounded-pill shadow-sm"
           asp-controller="Leito" asp-action="Create">
            <i class="bi bi-plus-lg me-2"></i>Adicionar Novo
        </a>
    </div>

    <div class="row col-12 d-flex justify-content-between">
        <vc:leito-contador status="Livre"></vc:leito-contador>
        <vc:leito-contador status="Ocupado"></vc:leito-contador>
        <vc:leito-contador status="Reservado"></vc:leito-contador>
        <vc:leito-contador status="EmManutencao"></vc:leito-contador>
    </div>

    <table-grid controller="Leito" allow-sorting="true" items="@Model"></table-grid>
</div>